<!-- <h1 class="title"></h1>
<ul class="breadcrumbs">
    <li><a href="#"></a></li>
    <li class="divider">/</li>
    <li><a href="#" class="active"></a></li>
</ul>
<pre></pre>
<div class="data">
    <div class="content-data tabla-scroll">
        <table>
            <thead>
                <tr>
                    <th colspan="8">Tabla de Datos</th>
                </tr>
                <tr>
                    <th>Id</th>  
                    <th>Nombre</th>  
                    <th>Apellido</th>  
                    <th>Horario</th>
                    <th>Salario</th>
                    <th>Puesto</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div> -->