<h1 class="title"></h1>
<ul class="breadcrumbs">
    <li><a href="#"></a></li>
    <li class="divider">/</li>
    <li><a href="#" class="active"></a></li>
</ul>
<pre></pre>
<div class="data">
    <div class="content-data tabla-scroll">
        <table>
            <thead>
                <tr>
                    <th colspan="5">Tabla de Datos</th>
                </tr>
                <tr>
                    <th>Id rol</th>
                    <th>Rol</th>
                    <th>Nombre Empleado</th>    
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>